:root {
  box-sizing: border-box;
  --background-cold: linear-gradient(#001d8c, #92f2ff 90%);
  --temp-color-cold: #60c2e1;
  --temp-circle-cold: var(--temp-color-cold), #3279cc;
  --temp-circle-shadow-cold: #0034f6;
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./assets/fonts/bebas-neue-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/bebas-neue-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 320px;
}

.header {
  display: flex;
  align-items: center;
  background-color: gray;
  height: 60px;
}

.search-container {
  display: flex;
  height: 40px;
  padding: 10px;
}

input.search-bar {
}

button.search-button {
  width: 40px;
  background-color: #3ec93e;
}

.main {
  display: grid;
  grid-template-rows: 2fr 5fr 5fr;
  height: 100%;
  background: var(--background-cold);
}

.city-info {
  font-family: 'Bebas Neue';
  color: white;
}

.city-name {
  font-size: 55px;
}

.datetime {
  display: flex;
  gap: 10px;
  font-size: 24px;
}

.weather {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 2fr 1fr;
  font-family: sans-serif;
}

.temp-circle-container {
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp-circle {
  border: 7px solid transparent;
  background: linear-gradient(white, white) padding-box,
              linear-gradient(to bottom, var(--temp-circle-cold)) border-box;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px 0px var(--temp-circle-shadow-cold);
}

.high-low {
  display: flex;
  gap: 4px;
}

.separator {
  color: lightgray;
}

.low {
  color: #9b9a9a;
}

.current-temp {
  display: flex;
  color: var(--temp-color-cold);
}

.current-temp .temp {
  font-size: 72px;
}

.current-temp .temp-unit {
  position: relative;
  top: 13px;
}

.temp-feels-like {
  display: flex;
  gap: 6px;
}

.feels-temp {
  color: var(--temp-color-cold);
}

.status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  background-image: url(./assets/svg/partly-sunny.svg);
  height: 90px;
  width: 110px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.weather-status {
  font-size: 13px;
  color: white;
}

.windage-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.windage {
  position: relative;
}

.wind-gauge {
  border: 3px solid white;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  position: relative;
  transform: rotate(1deg);
}

.wind-triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 18px solid white;
  position: absolute;
  left: 30px;
  top: -8px;
}

.wind-data {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.wind-direction {
  font-size: 12px;
}

.wind-speed {
  font-weight: bolder;
}