:root {
  box-sizing: border-box;
  --header-tint: #c5e9d2;
  --search-bar: #81fa8182;
  --background: linear-gradient(#008c1c, #92ff95 90%);
  --temp-color: #60e164;
  --temp-circle: var(--temp-color), #32ccb6;
  --temp-circle-shadow: #1b8509;
  --wind-gauge-shadow: #108a1f;
}

html[data-theme="cold"] {
  --header-tint: #c5cae9;
  --search-bar: #81d4fa82;
  --background: linear-gradient(#001d8c, #92f2ff 90%);
  --temp-color: #60c2e1;
  --temp-circle: var(--temp-color), #3279cc;
  --temp-circle-shadow: #0034f6;
  --wind-gauge-shadow: #3557b1;
}

html[data-theme="mild"] {
  --header-tint: #c5e9d2;
  --search-bar: #81fa8182;
  --background: linear-gradient(#008c1c, #71de74 90%);
  --temp-color: #60e164;
  --temp-circle: var(--temp-color), #32ccb6;
  --temp-circle-shadow: #1b8509;
  --wind-gauge-shadow: #108a1f;
}

html[data-theme="warm"] {
  --header-tint: #e9dec5;
  --search-bar: #fa968182;
  --background: linear-gradient(#e91e63, #ffda53 90%);
  --temp-color: #e91e63;
  --temp-circle: var(--temp-color), #efd50f;
  --temp-circle-shadow: #b10a0a;
  --wind-gauge-shadow: #c3285d;
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./assets/fonts/bebas-neue-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/bebas-neue-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  margin: 0;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 320px;
  overflow-x: hidden;
  user-select: none;
}

.header {
  display: flex;
  align-items: center;
  height: 60px;
  background: linear-gradient(180deg, #ffffff, var(--header-tint));
  box-shadow: 0px 0px 8px 0px black;
  z-index: 1;
}

.search-container {
  display: flex;
  height: 40px;
  padding: 10px;
  flex: 1;
}

input.search-bar {
  border-radius: 6px;
  border: none;
  box-shadow: inset 0px 0px 3px 0px black;
  padding-left: 5px;
  font-size: 24px;
  flex: 1;
  background-color: var(--search-bar);
}

.settings-icon {
  background-image: url(./assets/svg/dot-menu.svg);
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1.5);
  margin-right: 10px;
  cursor: pointer;
}

/* SETTINGS MODAL */
.settings-modal {
  position: fixed;
  top: 60px;
  right: -160px;
  padding: 10px 20px 15px 15px;
  border-radius: 0 0 0 25px;
  box-shadow: 0px 0px 8px 0px black;
  background: linear-gradient(180deg, #ffffff, var(--header-tint));
  color: #5f5f5f;
  transition: 0.2s ease-in;
}

.open-menu {
  transform: translateX(-160px);
}

.settings-container {
  font-family: sans-serif;
}

.units {
  margin-bottom: 2px;
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.fc {
  font-size: 22px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 212, 4);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
  box-shadow: inset 0px 0px 9px 0px #4c4c4c;
}

.slider.round:before {
  border-radius: 50%;
}

/* HIDDEN */
.hidden {
  display: none;
}

/* ERROR */
.error {
  height: 100%;
}

/* HOMEPAGE */
.homepage {
  height: 100%;
}

.prompt-container {
  width: 75%;
  margin-top: 40px;
}

.prompt {
  font-family: sans-serif;
  font-size: 22px;
  text-align: center;
  color: #707070;
}

.welcome {
  background: linear-gradient(180deg, #e4ffc4, #b9ff8e);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* LOADING */
.loading {
  height: 100%;
}

.loading-container {
  top: 35%;
  position: absolute;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #00e718;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* MAIN */
.main {
  height: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  /* grid-template-rows: 2fr 4fr 5fr; */
  height: 100%;
  background: var(--background);
}

.city-info {
  font-family: 'Bebas Neue';
  color: white;
  padding-left: 5px;
}

.city-name {
  font-size: 55px;
}

.datetime {
  display: flex;
  gap: 10px;
  font-size: 24px;
}

.weather {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 2fr 1fr;
  font-family: sans-serif;
}

.temp-circle-container {
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp-circle {
  border: 7px solid transparent;
  background: linear-gradient(white, white) padding-box,
              linear-gradient(to bottom, var(--temp-circle)) border-box;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px 0px var(--temp-circle-shadow);
}

.high-low {
  display: flex;
  gap: 4px;
}

.separator {
  color: lightgray;
}

.low {
  color: #9b9a9a;
}

.current-temp {
  display: flex;
  color: var(--temp-color);
}

.current-temp .temp {
  font-size: 72px;
}

.current-temp .temp-unit {
  position: relative;
  top: 13px;
}

.temp-feels-like {
  display: flex;
  gap: 6px;
}

.feels-temp {
  color: var(--temp-color);
}

.status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  background-image: url(./assets/svg/partly-sunny.svg);
  height: 90px;
  width: 110px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.weather-status {
  font-size: 13px;
  color: white;
}

.windage-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.windage {
  position: relative;
}

.wind-gauge {
  border: 3px solid white;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  position: relative;
  transform: rotate(1deg);
  box-shadow: inset 0 0 20px 0px var(--wind-gauge-shadow);
  transition: 1s ease-in-out;
}

.wind-triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 18px solid white;
  position: absolute;
  left: 30px;
  top: -8px;
}

.wind-data {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.wind-direction {
  font-size: 12px;
}

.wind-speed {
  font-weight: bolder;
}

.weather-2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

fieldset {
  width: 80%;
  display: flex;
  justify-content: center;
  border: 1px solid white;
  position: relative;
  cursor: pointer;
}

legend {
  font-family: sans-serif;
  color: white;
  font-weight: bold;
}

.popup {
  position: absolute;
  top: 20px;
  font-family: sans-serif;
  color: white;
  font-weight: bolder;
  border: 1px solid white;
  padding: 0 5px;
  background: #646464;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
}

.popup-animate {
  opacity: 1;
}

.vhp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

meter {
  width: 95%;
  height: 50px;
  border-radius: 0;
}

@-moz-document url-prefix() {
  meter {
    width: 98%;
    height: 30px;
    border-radius: 0;
    background: transparent;
    box-shadow: inset 0 0 3px 0 rgb(55, 54, 54);
  }

  fieldset {
    height: 70px;
    display: flex;
    align-items: center;
  }
}

meter::-webkit-meter-bar {
  border-radius: 0;
  border: none;
  background: transparent;
  box-shadow: inset 0 0 3px 0 rgb(55, 54, 54);
}

meter::-webkit-meter-optimum-value {
  background: linear-gradient(to bottom, rgb(55, 255, 0), rgb(0, 255, 8));
}

meter::-webkit-meter-optimum-value:hover {
  background: linear-gradient(to bottom, rgb(51, 237, 0), rgb(0, 237, 8));
}

meter:-moz-meter-optimum::-moz-meter-bar {
  background: linear-gradient(to bottom, rgb(55, 255, 0), rgb(0, 255, 8));
}

meter:-moz-meter-optimum::-moz-meter-bar:hover {
  background: linear-gradient(to bottom, rgb(51, 237, 0), rgb(0, 237, 8));
}

meter::-webkit-meter-suboptimum-value {
  background: linear-gradient(to bottom, rgb(255, 225, 0), yellow);
}

meter::-webkit-meter-suboptimum-value:hover {
  background: linear-gradient(to bottom, rgb(236, 208, 0), rgb(233, 233, 0));
}

meter:-moz-meter-sub-optimum::-moz-meter-bar {
  background: linear-gradient(to bottom, rgb(255, 225, 0), yellow);
}

meter:-moz-meter-sub-optimum::-moz-meter-bar:hover {
  background: linear-gradient(to bottom, rgb(236, 208, 0), rgb(233, 233, 0));
}

meter::-webkit-meter-even-less-good-value {
  background: linear-gradient(to bottom, rgb(224, 0, 0), rgb(255, 0, 0));
}

meter::-webkit-meter-even-less-good-value:hover {
  background: linear-gradient(to bottom, rgb(206, 1, 1), rgb(236, 0, 0));
}

meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
  background: linear-gradient(to bottom, rgb(224, 0, 0), rgb(255, 0, 0));
}

meter:-moz-meter-sub-sub-optimum::-moz-meter-bar:hover {
  background: linear-gradient(to bottom, rgb(206, 1, 1), rgb(236, 0, 0));
}

@media screen and (min-width: 768px) {
  .main-content {
    display: grid;
    grid-template-columns: 15% 1fr 1fr 15%;
    grid-template-rows: 50px 1fr 50px 3fr;
  }

  .city-info {
    grid-row-start: 2;
    grid-column-start: 2;
  }

  .city-name {
    font-size: 72px;
    overflow-wrap: anywhere;
  }

  .datetime {
    font-size: 40px;
  }

  .weather {
    grid-row-start: 2;
    grid-column-start: 3;
  }

  .weather-2 {
    grid-row-start: 4;
    grid-column-start: 3;
  }
}